<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <div id="app"
        <h1>Faça Login</h1>
        <form>
            <label for="username">Nome de Usuário:</label>
            <input type="text" v-model="username" required>
            <br>
            <label for="password">Senha:</label>
            <input type="password" v-model="password" required>
            <br><br>
            <button type="submit" @click.prevent="login">Entrar</button>
        </form><!--Fechamento form-->
        <p v-if="error" class="error">{{error}}</p>
        <p v-if="correto" class="correto">{{correto}}</p>

    </div>
    <script src="process.js"></script>
    
</body>
</html>







