.error{
    color: red;
    margin-top: 30px;

}

.correto{
    color: green;
    margin-top: 30px;
}

body{
    background: rgb(236, 234, 234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(242,243,180);
    padding: 20px;
    box-shadow: 0 10px;
    text-align: center;
}

h1{
    margin-top: 0px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 3px;
}

input[type="text"], [type="password"]{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: yellowgreen;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: rgb(122, 124, 124);
}

