<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testando V-FOR</title>

    <script src="vue.global.js"></script>

<link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <button @click="showItens">
            {{show ? 'Ocultar lista!' : 'Mostrar Lista!'}}
        </button><!--fechamento button-->
        <ol v-if="show">
            <h3>Lista Completa:</h3>
            <li v-for="item in itens">{{item}}

            </li><!--fechamento li-->
            
        </ol><!--fechamento ul-->

        <ol v-if="show">
            <h3>Lista com Filtros:</h3>

            <li v-bind:class="{filtro: item != 'Bola' && item != 'Tenis'}" v-for="item in itens">
                {{item == 'Bola' || item == 'Tenis' ? 'Item: ' + item :null}}
            </li><!--fechamento li-->
        </ol><!--fechamento ol-->
    </div><!--fechamento da div-->
    <script src="process.js"></script>
</body>
</html>