.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    background-color: rgb(0, 170, 113);
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(200, 245, 227),rgb(248, 223, 223));
    border: 1px solid #000000;
    border-radius:4px;
    padding:20px;
}/*Fechamento calculadora*/

.tela{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 90%;
    height: 65px;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
    padding: 10px;
    border-radius: 4px;
    background-color: q#ffffff;
    color: #ccc;
}/*Fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;

}/*Fechamento botao*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento linha*/

.operadores{
    background-color: #000000;
    color: #f5f5f5;
    border: 2px solid;
}/*Fechamento operadores*/

button {
    height: 50px;
    width: 50px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}/*Fechamento button*/

.outros{
    background-color: #000000;
    color: #f5f5f5;
    border: 2px solid #f7edea;
}/*Fechamento outros*/                                             

button:last-child{
    margin-right: 0;
}

button:hover{
    background-color: #4b4b4b;
    color: #f5f5f5;
}